!!!
%html
  %head
    %title Support
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  %body
    .container
      - if defined?(success)
        .alert.alert-success{role: "alert"}= success
      - if defined?(errors)
        .alert.alert-danger{role: "alert"}= errors
      %h1 Contact Support
      %form{role: "form", method: "post"}
        .form-group
          %label{for: "name"} Name
          %input{name: "ticket[name]", type: "text", id: "name", placeholder: "Enter name", class: "form-control"}
        .form-group
          %label{for: "email"} Email
          %input{name: "ticket[email]", type: "email", id: "email", placeholder: "Enter email", class: "form-control"}
        .form-group
          %label{for: "department_name"} Department
          %select{name: "ticket[department_name]", id: "department_name", class: "form-control"}
            - departments.each do |d|
              %option=d
        .form-group
          %label{for: "subject"} Subject
          %input{name: "ticket[subject]", type: "text", id: "subject", placeholder: "Enter subject", class: "form-control"}
        .form-group
          %label{for: "body"} Body
          %textarea{name: "ticket[body]", id: "body", placeholder: "Enter body", class: "form-control", rows: "4"}
        .form-group
          %button{type: "submit", class: "btn btn-default", value: "Send"} Submit
